.advance-btn {
   background: #237A08;
   background-image: -webkit-linear-gradient(top, #237A08, #32A342);
   background-image: -moz-linear-gradient(top, #237A08, #32A342);
   background-image: -ms-linear-gradient(top, #237A08, #32A342);
   background-image: -o-linear-gradient(top, #237A08, #32A342);
   background-image: linear-gradient(to bottom, #237A08, #32A342);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Open Sans;
   font-size: 40px;
   font-weight: 100;
   padding: 40px;
   box-shadow: 1px 1px 20px 0px #000000;
   -webkit-box-shadow: 1px 1px 20px 0px #000000;
   -moz-box-shadow: 1px 1px 20px 0px #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #237A08 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
}

.advance-btn:hover {
   background: #073812;
   background-image: -webkit-linear-gradient(top, #073812, #1C663E);
   background-image: -moz-linear-gradient(top, #073812, #1C663E);
   background-image: -ms-linear-gradient(top, #073812, #1C663E);
   background-image: -o-linear-gradient(top, #073812, #1C663E);
   background-image: linear-gradient(to bottom, #073812, #1C663E);
   text-decoration: none;
}