
.appheader {
    background-color: #6cdeff;
    padding: 15px;
    
}

.title2 {
    color: #00778d;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

.signup-content-div {
    background-color: #00778d;
    padding-top: 20px;
    padding-bottom: 20px;
}
.score-content-div {
    background-color: #2b3e5c;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sign-up-bg {
    background-color: #00a3d3;
    margin: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sign-up-bg h3 {
    padding: 50px 0 20px 0;
}

.help-block {
    padding: 20px 0 50px 0;
    margin: 0 50px 0 50px;
}

.login-bg {
    background-color: #6cdeff;
    margin: 30px;
    padding-top: 142px;
    padding-bottom: 142px;
}

.score-bg {
    background-color: white;
    margin: 30px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.login-bg h3 {
    margin: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
}

    
.categ-content-div h5, .quest-content-div h5{
    font-size: 20px;
    font-weight: bold;
}


