
.appheader {
    background-color: #ffd93c;
    text-align: center;
}

.title2 {
    color: dodgerblue;
    font-size: 26px;
    font-weight: bold;
}

.signup-content-div {
    background-color: #2b3e5c;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sign-up-bg {
    background-color: #fd721b;
    margin: 30px;
}

.sign-up-bg h3 {
    padding: 50px 0 20px 0;
}

.help-block {
    padding: 20px 0 50px 0;
}