
/* game components styles */
.card-sty {
    background-color: #00a3d3;
}

.qtxt {
    color: #006351;
    font-weight: bold;
}

.button-grouping {
   text-align: center;
}

.btn-answer1, {
    color: white;
    /* margin: 25px; */
    padding: 15px 15px;
    margin: 15px 15px;
}

.btn-answer {
    background-color: #2b3e5c;
}

.categ-content-div {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.categ-content-div h5 {
    font-size: 20px;
    font-weight: bold;
}
