<<<<<<< HEAD
.main-content-div {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
=======
>>>>>>> parent of 1178b745... add images and bootstrap styles to homepage component
