/* header login page styles: */
body {
    background-color: #4d81c3;
}

header {
    background-color: #2b3e5c;
    text-align: center;
    padding: 15px;
    margin: 0;
}

.welcome {
    color: #6cdeff;
    font-size: 20px;
}

.title {
    color: #f97171;
    font-size: 26px;
}

.tagline {
    color: #4d81c3;
    font-size: 24px;
}

.img-div {
    margin-top: 20px;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.main-content-div {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.btn-signup, .btn-login {
    font-weight: bold;
    color: #2b3e5c;
    font-size: 16px;
    width: 90%;
    padding: 30px 30px;
    border-radius: 5px;
    margin: 20px auto 20px auto;
}

.btn-signup {
    background-color: #6cdeff;
}

.btn-login {
    background-color: #f97171;
    font-weight: bold;
    color: #2b3e5c;
    font-size: 16px;
    width: 90%;
    padding: 30px 30px;
    border-radius: 5px;
    margin: 20px auto 20px auto;
}

/* styles for sign up page */

.header2 {
    background-color: #6cdeff;
    padding: 15px;
}

.title2 {
    color: dodgerblue;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.signup-content-div {
    background-color: #2b3e5c;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.btn-continue {
    background-color: #f97171;
    font-weight: bold;
    color: #2b3e5c;
    font-size: 16px;
    width: 90%;
    padding: 35px 35px;
    border-radius: 5px;
    margin: 20px auto 20px auto;
}

.sign-up-bg {
    background-color: #00778d;
    margin: 30px;
}

.sign-up-bg h3 {
    padding: 50px 0 20px 0;
}

.help-block {
    padding: 20px 0 50px 0;
}

/* game components styles */
.card-sty {
    background-color: #6cdeff;
}

.qtxt {
    color: #4d81c3;
    font-weight: bold;
}

.button-grouping {
   text-align: center;
}

.btn-answer1, .btn-answer2, .btn-answer3, .btn-answer4 {
    color: white;
    /* margin: 25px; */
    width:110px;
    padding: 15px 15px;
    margin: 15px 15px;
}

.btn-answer1 {
    background-color: #2b3e5c;
}

.btn-answer2 {
    background-color: #f97171;
}

.btn-answer3 {
    background-color: #4d81c3;
}

.btn-answer4 {
    background-color: #00778d;
}

.categ-content-div {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.categ-content-div h5 {
    font-size: 20px;
    font-weight: bold;
}
