
/* styles for sign up page */

.header2 {
  background-color: #ffd93c;
  padding: 15px;
}

.title2 {
  color: dodgerblue;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.signup-content-div {
  background-color: #2b3e5c;
  padding-top: 20px;
  padding-bottom: 20px;
  
}

.ModalForm{
  margin-top: 50px;
  text-align: center;
  display: block;
}

.submit {
    background-color: #ffd93c;
    font-weight: bold;
    color: #2b3e5c;
    font-size: 16px;
    width: 60%;
    padding: 30px 30px;
    border-radius: 5px;
    margin: 20px auto 20px auto;
}
/* 
.SignupForm {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

.sign-up-bg {
  background-color: #fd721b;
  margin: 30px;
}

.UserSignup input {
  outline: none;
  border: 0;
  color: #FFFCE8;
  background: transparent;
  font-family: "Lato", sans-serif;
  flex: 1 0 auto;
  font-size: 14px;
  font-weight: 300;
}
*/