header {
    background-color: #00778d;
    text-align: center;
    padding: 15px;
    margin: 0;
}

.welcome {
    color: #6cdeff;
    font-size: 20px;
}

.title {
    color: #f99a07;
    font-size: 26px;
}

.tagline {
    color: #fede0e;
    font-size: 24px;
}

.img-div {
    margin-top: 20px;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.main-content-div {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}