/* game components styles */

.card-sty {
    background-color: #ffd93c;
    padding-bottom: 20px;
}

.qtxt {
    color: #4d81c3;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    padding-top: 20px;
}

.button-grouping {
    text-align: center;
}

.btn-answer1,
.btn-answer2,
.btn-answer3,
.btn-answer4 {
    color: white;
    /* margin: 25px; */
    width: 250px;
    padding: 15px 15px;
    margin: 15px 15px;
}

.btn-answer1 {
    background-color: #2b3e5c;
}

.btn-answer2 {
    background-color: #fa3949;
}

.btn-answer3 {
    background-color: #4d81c3;
}

.btn-answer4 {
    background-color: #fd721b;
}

.categ-content-div {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.categ-content-div h5 {
    font-size: 20px;
    font-weight: bold;
}
