/* game components styles */

.card-sty {
    background-color: #ffd93c;
    padding-bottom: 20px;
    width: 90%;
    /* padding-left: 50px;
    padding-right: 50px; */
    border-radius: 5px;
    margin-right: auto;
    margin-left: auto;
}

.qtxt {
    color: #4d81c3;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    padding-top: 10px;
    
}

.button-grouping {
    text-align: center;
}

.btn-answer1,
.btn-answer2,
.btn-answer3,
.btn-answer4 {
    color: white;
    width: 210px;
    padding: 15px 15px;
    margin: 5px 5px;
    text-transform: uppercase;
    font-size: 10px;
}


.btn-answer1 {
    background-color: #2b3e5c;
}

.btn-answer2 {
    background-color: #fa3949;
}

.btn-answer3 {
    background-color: #4d81c3;
}

.btn-answer4 {
    background-color: #fd721b;
}

.quest-content-div h5 {
    padding-bottom: 10px;
}

.quest-content-div {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}