.btn-submit {
    background-color: #f97171;
    font-weight: bold;
    color: #2b3e5c;
    font-size: 16px;
    width: 90%;
    padding: 30px 30px;
    border-radius: 5px;
    margin: 20px auto 20px auto;
}